/*---GLOBAL---*/
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  color: #66ff66;
  background-color: black;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;

  scrollbar-color: #66ff66 #33333322;
  scrollbar-width: thin;
}

h3 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  min-height: 1em;
}
h4 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}
button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
input {
  accent-color: #66ff66;
}
select {
  width: 20px;
}
.hidden {
  display: none !important;
}
.separator {
  padding-bottom: 10px;
  display: block;
}
.button,
button {
  color: #66ff66;
  background-color: #112211;
  border-style: solid;
  border-color: #66ff66;
  border-radius: 5px;
  border-width: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-block-end: 1px;
  padding-block-start: 1px;
  padding-inline-end: 6px;
  padding-inline-start: 6px;
  margin-bottom: 2px;
}

/*---SPLASH---*/
.splash {
  width: 100%;
  text-align: center;
  padding-top: 20vh;
  color: #66ff66;
}
.splash .logo {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
}
.splash .logo .fra {
  color: #66ff66;
}
.splash .logo .red {
  color: #ff1166;
}
.splash .slogan {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 20px;
}
.splash #start-app {
  color: #66ff66;
  background-color: #111111;
  font-size: 24px;
  font-weight: 100;
  padding: 15px;
  border-style: solid;
  border-color: #66ff66;
  border-radius: 5px;
}
/*---APP---*/
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
/*---UI---*/
#ui {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.left-ui {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
}
.right-ui {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2;
  max-width: 340px;
}
.bottom-ui {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  z-index: 2;
}
.panel {
  background-color: #111111cc;
  margin-top: 10px;
  padding: 10px;
}
.panel.left {
  border-radius: 0 10px 10px 0;
}
.panel.right {
  border-radius: 10px 0 0 10px;
}
.panel.bottom {
  border-radius: 10px 0 0 0;
  height: 100%;
}
.layerListContainer {
  max-height: 60vh;
  overflow: auto;
}
.layerItem,
.shaderItem,
.modulatorItem {
  background-color: #11111122;
  border-style: solid;
  border-width: 1px;
  border-color: #66ff6666;
  padding: 5px;
}
.layerItem.active,
.shaderItem.active,
.modulatorItem.active {
  background-color: #ffffff22;
  color: #66ff66;
  border-color: #66ff66;
}

.layerItem .title,
.shaderItem .title,
.modulatorItem .title {
  font-family: "Orbitron", serif;
  display: inline-block;
  line-height: 24px;
  float: left;
}
.layerItem .icons,
.shaderItem .icons,
.modulatorItem .icons {
  display: inline-block;
  margin-left: 5px;
}

.fileLoader {
  display: inline-block;
}
.fileLoader svg {
  height: 14px;
  width: 14px;
}
.fileLoader .iconButton {
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}
#fileLoadInput {
  display: none;
}

.helpTooltip {
  position: fixed;
  color: #66ff66;
  bottom: 0px;
  right: 0px;
  z-index: 3;
  font-family: "Orbitron", serif;
  border-radius: 10px 0 0 0;
}
.helpFloat {
  font-family: "Orbitron", serif;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 10px;
  z-index: 10;
  margin-top: -17px;
  border-radius: 10px 0 0 0;
  padding-bottom: 0;
}
.hintPanel {
  font-family: "Orbitron", serif;
  display: inline-block;
  margin: auto;
  height: 100%;
  overflow: auto;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.hintPanel svg {
  margin-right: 10px;
}

.hintPanel button {
  margin-right: 10px;
}
.hintPanel button svg {
  margin-right: 0px;
}
.hintPanel .spacer {
  height: 10px;
}
.hintPanel .tip {
  margin-right: 20px;
  display: inline-block;
  vertical-align: top;
}
.hintPanel .block {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-right: 40px;
  max-width: 400px;
  white-space: normal;
}
.hintPanel .extraLast {
  border-style: solid;
  border-width: 1px;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
  min-height: 115px;
}

.filePanel {
  max-height: 60vw;
  overflow: auto;
}

.historyRow {
  position: relative;
}
.historyRow img {
  width: 100px;
  border-style: solid;
  border-width: 1px;
}
.historyRow div {
  display: inline-block;
  position: absolute;
  padding-left: 10px;
}
.historyRow span {
  display: block;
}
.ct-series-a .ct-line {
  /* Set the colour of this series line */
  stroke: #66ff66;
  fill: none;
}
