/*---GLOBAL---*/
body {
  margin: 0;
  color: #66ff66;
  background-color: black;

  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

h3 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
}
h4 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}
button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.hidden {
  display: none;
}
.separator {
  padding-bottom: 10px;
  display: block;
}
.button,
button {
  color: #66ff66;
  background-color: #112211;
  border-style: solid;
  border-color: #66ff66;
  border-radius: 5px;
  border-width: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-block-end: 1px;
  padding-block-start: 1px;
  padding-inline-end: 6px;
  padding-inline-start: 6px;
  margin-bottom: 2px;
}

/*---SPLASH---*/
.splash {
  width: 100%;
  text-align: center;
  padding-top: 20vh;
  color: #66ff66;
}
.splash .logo {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
}
.splash .logo .fra {
  color: #66ff66;
}
.splash .logo .red {
  color: #ff1166;
}
.splash .slogan {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 48px;
  margin-bottom: 20px;
}
.splash #start-app {
  color: #66ff66;
  background-color: #111111;
  font-size: 24px;
  font-weight: 100;
  padding: 15px;
  border-style: solid;
  border-color: #66ff66;
  border-radius: 5px;
}
/*---APP---*/
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
/*---UI---*/
#ui {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.left-ui {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
}
.right-ui {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}
.right-bottom-ui {
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: right;
  z-index: 2;
}
.panel {
  background-color: #111111cc;
  margin-top: 10px;
  padding: 10px;
}
.panel.left {
  border-radius: 0 10px 10px 0;
}
.panel.right {
  border-radius: 10px 0 0 10px;
}
.panel.right-bottom {
  border-radius: 10px 0 0 0;
}
.layerItem,
.shaderItem {
  background-color: #11111122;
  border-style: solid;
  border-width: 1px;
  border-color: #66ff6666;
  padding: 5px;
}
.layerItem.active,
.shaderItem.active {
  background-color: #ffffff22;
  color: #66ff66;
  border-color: #66ff66;
}

.layerItem .title,
.shaderItem .title {
  font-family: "Orbitron", serif;
  display: inline-block;
  line-height: 24px;
  float: left;
}
.layerItem .icons,
.shaderItem .icons {
  display: inline-block;
  margin-left: 5px;
}

.fileLoader {
  display: inline-block;
}
.fileLoader svg {
  height: 14px;
  width: 14px;
}
.fileLoader .iconButton {
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}
#fileLoadInput {
  display: none;
}

.hintPanel {
  max-width: 256px;
  font-family: "Orbitron", serif;
}

.hintPanel svg {
  margin-right: 10px;
}
.hintPanel .spacer {
  height: 10px;
}
.hintPanel .tip {
  margin-bottom: 10px;
}

.historyRow {
  position: relative;
}
.historyRow img {
  width: 100px;
  border-style: solid;
  border-weight: 1px;
}
.historyRow div {
  display: inline-block;
  position: absolute;
  padding-left: 10px;
}
.historyRow span {
  display: block;
}
