body {
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

#ui {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.layerItem {
  background-color: gray;
}
.layerItem.active {
  background-color: white;
}
